* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.timer {
    border: 2px solid black;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ef233c; */
}

.timer-display {
    height: 80px;
    font-size: 48px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.timer-buttons {
    display: flex;
    margin: 20px;
}

.btn {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    
}

.start {
    /* background-color: green; */
    color: #fff;
    background-color: #60d394;
}

.pause {
    background-color: #ff5a5f;
    color: white;
}

.reset {
    background-color: #3fa7d6;
    color: white;
}