* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #068FFF;
    
}

.timer {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-display {
    padding: 20px;
    
}

.timer-display h1 {
    font-size: 100px;
    color: #fff;
}

.btn {
    height: 40px;
    width: 100px;
    border: 1px solid white;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    background: #068FFF;
    color: white;
    
}

.btn:hover {
    filter: brightness(120%);
}

